.mainCharacters 
    display: flex
    justify-content: space-around
    flex-flow: row wrap
    padding-top: 20% 
.character 
    background: linear-gradient(to bottom, rgba(19, 109, 151, 0.9), rgba(25, 181, 192, 0.9)  , rgba(227, 230, 93, 0.9))
    border-radius: 4px
    padding: 10px
    display: flex
    flex-direction: column
    text-align: center
    width: 100px
    height: 140px
    align-items: center
    justify-content: space-around
    border: solid 1px rgb(168, 43, 226) 
    margin-bottom: 15px
    &__image 
        width: 70px
        height: 70px
        border-radius: 50px
        border: solid 1px rgb(168, 43, 226)
    &__name 
        color: rgb(168, 43, 226)
        font-size: 12px
        font-weight: bold
        cursor: pointer


        